body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

/* Start & Login Centered */
#startSection,
#loginSection {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Camera */
#camera {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Weather Box */
#weatherBox {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    border-radius: 10px;
}
